<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    Welcome, <%= current_user.username %>!<br>
    <%= button_to 'Sign Out', session_url, method: :delete %>
    <% else %>
      <%= link_to 'Sign In', new_session_url %><br>
      <%= link_to 'Sign Up', new_user_url %><br>
    <% end %>
      <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
    <%= yield %>
  </body>
</html>
